[Unit]
Description=Avena LabJack streamer
Wants=network-online.target
After=network-online.target nats-leaf.service
Requires=nats-leaf.service

[Service]
Type=simple
User=user
Group=user
WorkingDirectory=/home/user/avena-rs/rust-ljm
Environment=AVENA_CONFIG_DIR=/etc/avena-rs
ExecStart=/usr/local/libexec/avena-rs/avena-service-run.sh streamer
Restart=on-failure
RestartSec=5
KillSignal=SIGINT
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
