@tailwind base;
@tailwind components;
@tailwind utilities;

h3 {
  color: rgb(0 0 0);
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-align: center;
  margin-bottom: 2rem;
}

h6 {
  color: rgb(0 0 0);
  font-weight: 500;
  margin-right: 2.5rem;
}