# Rust target directory
/target

# Binary files
*.bin

# CSV log/output files
*.csv

# FBS log/output files
*.fbsdata


# parquet files ignire
parquet/*

# runtime process/log artifacts
.pids/
logs/


# creds
apt.creds

# env
.env
